ensuring that the certificate is valid

must be check against:
	[[certificate revocation lists CRLs]]
	[[Online Certificate Status Protocol OCSP]]